@model Intranet.web.Models.Activos.ActivoViewModel
<flash dismissable="true" />

  <div class="col-md-6">
             <div class="form-group">
                   <label asp-for="Serial" class="control-label"></label>
                
                <input asp-for="Serial" class="form-control" />
               
                 <span asp-validation-for="Serial" class="text-danger"></span>
                 
               
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datepurchase" class="control-label"></label>
                <input asp-for="Datepurchase" class="form-control" />
                <span asp-validation-for="Datepurchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitValue" class="control-label"></label>
                <input asp-for="UnitValue" class="form-control" />
                <span asp-validation-for="UnitValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coment" class="control-label"></label>
                <input asp-for="Coment" class="form-control" />
                <span asp-validation-for="Coment" class="text-danger"></span>
            </div>
           
        </div>
        <div class="col-md-6">
           
            <div class="form-group">
                <label asp-for="TimeGarant" class="control-label"></label>
                <input asp-for="TimeGarant" class="form-control" />
                <span asp-validation-for="TimeGarant" class="text-danger"></span>
            </div>
            
             <div class="form-group">
                <label asp-for="ModelId" class="control-label"></label>
                 <div class="input-group input-group">
                <select asp-for="ModelId" asp-items="Model.Models" class="js-example-basic-single form-control">
                </select>
                 <span class="input-group-append">

                <button type="button" onclick="showInPopup('@Url.Action("AddEditModel", "Items", new { id = 0 },
                       Context.Request.Scheme)' , 'Nuevo Modelo')"
                       class="btn btn-sm btn-primary text-white">
                       <i class="fas fa-plus-circle"></i></button>
                </span>
                </div>
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="FabricId" class="control-label"></label>
                 <div class="input-group input-group">
                <select asp-for="FabricId" asp-items="Model.Fabrics" class="js-example-basic-single form-control">
                </select>
                   <span class="input-group-append">
                       @*<a onclick="showInPopup('@Url.Action("AddOrEditFabric", "Items", new { id = 0 },
                       Context.Request.Scheme)' , 'Nueva Categoría')"
                       class="btn btn-sm btn-primary text-white">
                       <i class="fa fa-plus-circle"></i> Go!</a>*@
                <button type="button" onclick="showInPopup('@Url.Action("AddOrEditFabric", "Items", new { id = 0 },
                       Context.Request.Scheme)' , 'Nuevo Fabricante')"
                       class="btn btn-sm btn-primary text-white">
                       <i class="fas fa-plus-circle"></i></button>
                      
                     </span>
                      
                </div>
                <span asp-validation-for="FabricId" class="text-danger"></span>
            </div>
            
              <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                 <div class="input-group input-group">
                <select asp-for="CategoryId" asp-items="Model.Categories" class="js-example-basic-single form-control">
                </select>
                   <span class="input-group-append">
               <button type="button" onclick="showInPopup('@Url.Action("AddEditCat", "Items", new { id = 0 },
                       Context.Request.Scheme)' , 'Nueva Categoria')"
                       class="btn btn-sm btn-primary text-white">
                       <i class="fas fa-plus-circle"></i></button>
                </span>
                </div>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="ProviderId" class="control-label"></label>
                  <div class="input-group input-group">
                <select asp-for="ProviderId" asp-items="Model.Providers" class="js-example-basic-single form-control">
                </select>
                  <span class="input-group-append">
                <button type="button" class="btn btn-info btn-flat">Go!</button>
                </span>
                </div>
                <span asp-validation-for="ProviderId" class="text-danger"></span>
            </div>
        
        </div>

