@model Intranet.web.Data.Entities.Activos.Provider
@{
    ViewData["Title"] = "Proveedores";
    Layout = null;
}
<flash dismissable="true" />

<div class="container smfont">
    <form asp-action="AddEditProv" autocomplete="off" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input type="hidden" asp-for="Usucreo" />
            <div class="form-group">

                <span class="required">*</span>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control smfont" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">

                <span class="required">*</span>
                <label asp-for="Di" class="control-label"></label>
                <input asp-for="Di" class="form-control smfont" />
                <span asp-validation-for="Di" class="text-danger"></span>
            </div>
             <div class="form-group">

                <span class="required">*</span>
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control smfont" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
             <div class="form-group">

                <span class="required">*</span>
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control smfont" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
               <div class="form-group">
                <span class="required">*</span>
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control smfont" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="modal-footer">
           
            <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
