@model Intranet.web.Models.Fidelizacion.AddRedimidosViewModel
@{
    ViewData["Title"] = "Create";
}

<hr />

<form asp-action="AddRedime">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Redime</h2>
                    <h4>Bono</h4>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="BonoId" />

                    <div class="form-group">
                    <label asp-for="Tercero" class="control-label"></label>
                    <textarea asp-for="Tercero" class="form-control">
                    </textarea>
                    <span asp-validation-for="Tercero" class="text-danger"></span>
                </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                        <a asp-action="Details" asp-route-id="@Model.BonoId" class="btn btn-success">Volver al Bono</a>
                    </div>
                </div>
            </div>





        </div>
    </div>
</form>