@model Intranet.web.Data.Entities.Fidelizacion.Bono

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Bono</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Redimido" /> @Html.DisplayNameFor(model => model.Redimido)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Fechacreado" class="control-label"></label>
                <input asp-for="Fechacreado" class="form-control" />
                <span asp-validation-for="Fechacreado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actividad" class="control-label"></label>
                <input asp-for="Actividad" class="form-control" />
                <span asp-validation-for="Actividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuariocrea" class="control-label"></label>
                <input asp-for="Usuariocrea" class="form-control" />
                <span asp-validation-for="Usuariocrea" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
