

@{
    ViewData["Title"] = "Index";
}


<hr />
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <h2>Check de Pagos</h2> 
            </div>
        </div>
        <div class="panel-body">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="form-group">
                        <form action="GetPago" method="post">
                            <label>Proveedor: </label>
                            <input type="text" name="Proveedor" value="" />
                            <input type="submit" value="Buscar" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-danger">Limpiar</a>
                            <a asp-action="Index" class="btn btn-success">Pagar</a>
                        </form>
                       

                    </div>
                   
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="table table-responsive">
                        aqui la tabla
                        por aqui el total de la tabla
                            </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="input-group">
                                <label>Valor a aplicar</label>
                                <input type="number" name="namevalor" value="" />
                            </div>
                        </div>
                    </div>
                </div>
                <DIV class="panel-footer">
                 
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </DIV>
                </div>
                
            </div>
        </div>
    </div>
