@model Intranet.web.Models.EditItemViewModel

@{
    ViewData["Title"] = "Edit";
}

<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Edit</h2>

                    <h4>Item</h4>

                </div>
                <div class="panel-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Usucreate" />
                    <input type="hidden" asp-for="Dateitemcreate" />
                    <input type="hidden" asp-for="UserModify" />
                    <input type="hidden" asp-for="DateModify" />

                    <div class="col-md-12">
                        <partial name="_Item" />
                    </div>

                   
                    

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-success">Back to List</a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Usucreate"></label>
                                    <input style="border: none;" asp-for="Usucreate" disabled />
                                   
                                </div>
                                <div class="form-group">
                                    <label asp-for="Dateitemcreate"></label>
                                    <input style="border: none;font-size:10px;" asp-for="Dateitemcreate" disabled />
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="UserModify"></label>
                                        <input style="border: none;" asp-for="UserModify" disabled />
                                       
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DateModify"></label>
                                        <input style="border: none;" asp-for="DateModify" disabled />
                                    </div>
                                </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>
      

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
</div>
</form>