@model Intranet.web.Data.Entities.PositionEmp

@{
    ViewData["Title"] = "Detalles cargo";
}

<section class="content-header">

</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-14">
                <div class="card card-dark">
                    <div class="card-header">
                        <h2>Detalles Cargo</h2>
                    </div>
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Position)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Position)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Editar</a> 
                        <a asp-action="Index" class="btn btn-success">Volver Atras</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    
    
</div>
<div>
  
</div>
