@model Intranet.web.Models.AddHistorialEmpleadoViewModel


<div class="form-group">
    <label asp-for="Fecha" class="control-label"></label>
    <input asp-for="Fecha" class="form-control" />
    <span asp-validation-for="Fecha" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Notas" class="control-label"></label>
    <input asp-for="Notas" class="form-control" />
    <span asp-validation-for="Notas" class="text-danger"></span>
</div>