@model Intranet.web.Models.AddPersonContactViewModel

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Telephone" class="control-label"></label>
    <input asp-for="Telephone" class="form-control" />
    <span asp-validation-for="Telephone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="relationship" class="control-label"></label>
    <input asp-for="relationship" class="form-control" />
    <span asp-validation-for="relationship" class="text-danger"></span>
</div>