@model Intranet.web.Models.AddEndowmentViewModel
@{
    ViewData["Title"] = "Adicionar Dotacion";
}

<section class="content-header">

</section>
<section class="content">
    <div class="container-fluid">
        <form asp-action="AddEndowment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                        <h2>Adicionar Dotacion</h2>

                    </div>
                    <div class="card-body">
                        <input type="hidden" asp-for="EmployeeId" />

                        <partial name="_Endowment" />


                    </div>
                    <div class="card-footer">

                        <div class="form-group">
                            <input type="submit" value="Adicionar" class="btn btn-primary" />
                            <a asp-action="Details" asp-route-id="@Model.EmployeeId" class="btn btn-success">Volver Atras</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</section>
