@model Intranet.web.Models.AddEndowmentViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>Endowments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEndowment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />

           <partial name="_Endowment"/>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.EmployeeId" class="btn btn-success">Back to Employed</a>
            </div>
        </form>
    </div>
</div>