@model Intranet.web.Models.SonsViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>Sons</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSons">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datebirth" class="control-label"></label>
                <input asp-for="Datebirth" class="form-control" />
                <span asp-validation-for="Datebirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.EmployeeId" class="btn btn-success">Back to Employed</a>
            </div>
        </form>
    </div>
</div>