@model Intranet.web.Data.Entities.EndowmentType

@{
    ViewData["Title"] = "Edit";
}


<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Edit</h2>

                    <h4>EndowmentType</h4>

                </div>
                <div class="panel-body">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="NameType" class="control-label"></label>
                        <input asp-for="NameType" class="form-control" />
                        <span asp-validation-for="NameType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EspirationDate" class="control-label"></label>
                        <input asp-for="EspirationDate" class="form-control" />
                        <span asp-validation-for="EspirationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        
                        <input asp-for="UserRegistra" type="hidden" />
                        <span asp-validation-for="UserRegistra" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group">
                        
                        <input asp-for="DateRegistro" type="hidden" />
                        <span asp-validation-for="DateRegistro" class="text-danger"></span>
                    </div>
                    
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-default" />
                                <a asp-action="Index" class="btn btn-success">Back to List</a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label asp-for="UserModify" class="control-label"></label>
                            <input asp-for="UserModify" disabled />
                            <label asp-for="DateModify" class="control-label"></label>
                            <input asp-for="DateModify" disabled />
                        </div>
                    </div>
                  
                    
                </div>
            </div>

           
           

        </div>
    </div>
</form>
<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
