@model Intranet.web.Data.Entities.Pension

@{
    ViewData["Title"] = "Edit";
}


<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Edit</h2>

                    <h4>Pension</h4>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                        <a asp-action="Index" class="btn btn-success">Back to List</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
