@model Intranet.web.Data.Entities.Eps

@{
    ViewData["Title"] = "Editar";
}

<section class="content-header">

</section>
<section class="content">
    <div class="container-fluid">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-dark">
                        <div class="card-header">
                            <h2>Editar Entidad</h2>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-default" />
                                <a asp-action="Index" class="btn btn-success">Volver Atras</a>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </form>
    </div>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
