@model IEnumerable<Intranet.web.Models.Report.Compras.BajasFruverViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Details</h2>

<div>
    <h4>Eps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model)*@
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" >Edit</a> |
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
