@model Intranet.web.Models.Compras.PagoViewModel


<div class="form-group">
    <label asp-for="Novedad" class="control-label"></label>
    <input asp-for="Novedad" class="form-control" />
    <span asp-validation-for="Novedad" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DocCobro" class="control-label"></label>
    <input asp-for="DocCobro" class="form-control" />
    <span asp-validation-for="DocCobro" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DocLegalizacion" class="control-label"></label>
    <input asp-for="DocLegalizacion" class="form-control" />
    <span asp-validation-for="DocLegalizacion" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DatePago" class="control-label"></label>
    <input asp-for="DatePago" class="form-control" />
    <span asp-validation-for="DatePago" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ValorPagado" class="control-label"></label>
    <input asp-for="ValorPagado" class="form-control" />
    <span asp-validation-for="ValorPagado" class="text-danger"></span>
</div>
