@model Intranet.web.Models.Compras.VerificaViewModel

<div class="form-group">
    <label asp-for="Novedad" class="control-label"></label>
    <input asp-for="Novedad" class="form-control" />
    <span asp-validation-for="Novedad" class="text-danger"></span>
</div>

