
@model Intranet.web.Models.Compras.ProductBonViewModel
@{
    ViewData["Title"] = "Create";
}
    <hr />
    <div class="panel panel-default">

        <div class="panel-heading">
            <h2>Crear</h2>
            <h4>Producto</h4>
        </div>


        <form asp-action="Out_focus" >
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="Plu" class="control-label"></label>
                    <input  class="form-control"  id="fname" />
                    <span asp-validation-for="Plu" class="text-danger"></span>
                </div>
            </div>

            <input value="Buscar" class="btn btn-primary" onclick="myFunction()" />
        </form>
    <form asp-action="AddProductoBon">
        <div class="row">

            <div class="panel-body">

                <div asp-validation-summary="ModelOnly" id="Valida" class="text-danger"></div>
                <input type="hidden" asp-for="NegociacionId" />
             
                <partial name="_ProductBon" />

            </div>

        </div>


        <div class="panel-footer">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.NegociacionId" class="btn btn-success">Back to Negociacion</a>
            </div>
        </div>
    </form>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        setTimeout(function () {
            document.getElementById('Valida').style.display = 'none';
        }, 3000);
        
        function myFunction() {

            var input = document.getElementById("fname");
            var valor = input.value;

            //alert("El valor del campo es:" + valor);
            //var value = document.getElementById('fname').value;

            $.ajax({
                type: "GET",
                url: "http://192.168.1.219:8082/Negociations/Out_focus/",
                data: {plu:valor},
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    document.getElementById("fname2").value = input.value;
                    document.getElementById("detalle").value = response;
                },
                failure: function (response) {
                    alert(response.responseText);
                   
                },
                error: function (response) {
                    alert(response.responseText);
                   
           
                }
            });
        
            
        }

        function myFunction2() {

            var input = document.getElementById("fname");
            var valor = input.value;

            //alert("El valor del campo es:" + valor);
            //var value = document.getElementById('fname').value;

            $.ajax({
                type: "GET",
                url: "http://localhost:8082/Negociations/Out_focus/",
               /* url: "http://localhost:8082/Negociations/Out_focus/",*/
                data: { plu: valor },
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    document.getElementById("fname2").value = input.value;
                    document.getElementById("detalle").value = response;
                },
                failure: function (response) {
                    alert(response.responseText);

                },
                error: function (response) {
                    alert(response.responseText);


                }
            });


        }
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
            var action_to_delete;
            $('.display').DataTable();

            $('.deleteEndowment').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 1;
            });

            $('.deleteExam').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 2;
            });
            $('.deletePerson').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 3;
            });
            $('.deleteCredit').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 4;
            });
            $('.deleteSon').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 5;
            });
            $('.deleteImage').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 6;
            });
            $('.deleteIncap').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 7;
            });

            $("#btnYesDelete").click(function () {
                if (action_to_delete == 1) {
                    window.location.href = '/Employees/DeleteEndowment/' + item_to_delete;
                } if (action_to_delete == 2) {
                    window.location.href = '/Employees/DeleteExam/' + item_to_delete;
                } if (action_to_delete == 3) {
                    window.location.href = '/Employees/DeletePersonContac/' + item_to_delete;
                } if (action_to_delete == 4) {
                    window.location.href = '/Employees/DeleteCredit/' + item_to_delete;
                } if (action_to_delete == 5) {
                    window.location.href = '/Employees/DeleteSon/' + item_to_delete;
                } if (action_to_delete == 6) {
                    window.location.href = '/Employees/DeleteImage/' + item_to_delete;
                } if (action_to_delete == 7) {
                    window.location.href = '/Employees/EditIncapacity/' + item_to_delete;
                }

            });
        });
    </script>
}