@model Intranet.web.Models.Compras.PagoViewModel
@{
    ViewData["Title"] = "Pagos";
}

<section class="content-header">

</section> 
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                 <form asp-action="AddPago">
<div class="card card-dark">
    <div class="card-header">
           <h2>Crear Pago</h2>
    </div>
    <div class="card-body">
 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="NegociacionId" />
                    <partial name="_Pagos" />
                
    <div class="row">
        <div class="card panel-default">
           
            <div class="panel-body">
               
                    
            </div>



            <div class="panel-footer">
                
            </div>

        </div>
    </div>

    </div>
    <div class="card-footer">
        <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a asp-action="Details" asp-route-id="@Model.NegociacionId" class="btn btn-success">Volver a la Negociacion</a>
                </div>
    </div>
</div>
</form>
            </div>
                  
</div>
</div>
</section>
