@model Intranet.web.Models.EditnegociationViewModel

@{
    ViewData["Title"] = "Edit";
}


   
    <form asp-action="Edit">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Create</h2>

                    <h4>Negociacion</h4>

                </div>
                <div class="panel-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <input type="hidden" asp-for="UserModify" />
                    <input type="hidden" asp-for="DateModifica" />
                    <input type="hidden" asp-for="DateCreate" />
                    <input type="hidden" asp-for="UsuCreate" />


                    <partial name="_Negociation" />
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-default" />
                                <a asp-action="Index">Back to List</a>

                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <input style="border: none;" asp-for="UsuCreate" disabled />

                                <input style="border: none;" asp-for="DateCreate"  disabled/>
                                <label asp-for="UserModify"></label>
                                <input style="border: none;" asp-for="UserModify" disabled />
                                <label asp-for="DateModifica"></label>
                                <input style="border: none;" asp-for="DateModifica" disabled />
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
                    
    </form>
    



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
