
@model Intranet.web.Models.Compras.EditPagoViewModel
@{
    ViewData["Title"] = "Edit";
}



<h2>Editar</h2>
<h4>Pagos</h4>
<hr />
<div class="row">
  
        <form asp-action="EditPago">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="NegociacionId" />

            <partial name="_Pagos" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.NegociacionId" class="btn btn-success">Back to Negociacion</a>
            </div>
            <div class="panel-footer">
                <div>

                    <input style="border: none;" type="hidden" asp-for="Userregistro" />

                    <input style="border: none;" type="hidden" asp-for="Dateregistro" />
                    <label asp-for="UserModify"></label>
                    <input style="border: none;" asp-for="UserModify" disabled />
                    <label asp-for="DateModify"></label>
                    <input style="border: none;" asp-for="DateModify" disabled />
                </div>
            </div>
        </form>
  
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}