<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intranet.web</title>
   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
 
    <link href="~/adminlte/plugins/font-awesome4/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

   
 
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
    @RenderSection("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
     
    <div class="wrapper">
        <partial name="_CookieConsentPartial" />
        <partial name="_Navbar" />
        <partial name="_Mainsidebar" />
        <div class="content-wrapper">
            <partial name="_BusyIndicatorPartial" />
            @RenderBody()
        </div>
        <partial name="_Sidebar" />
        <partial name="_Footer" />
    </div>



  
         <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
 
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.js"></script>
   <script src="~/js/showmodal.js"></script>
   <script src="~/js/site.min.js"></script>
     <script>
        function displayBusyIndicator() {
            $('.loading').show();
        }
    </script>

    <script>
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
    </script>

   @await RenderSectionAsync("Scripts", required: false)
   

     <script type="text/javascript">

        $(document).ready(function () {
            GridGeneral();

        });
        
        var GridGeneral = function () {
            $(".MyTable").prepend($("<thead></thead>").append($(".MyTable").find("tr:first"))).dataTable({
                "drawCallback": function () {
                    var api = this.api();
                    $(api.column(4).footer()).html(
                        "Total: " + api.column(4, { page: 'current' }).data().sum()
                    )
                },
                "language": lenguaje_espanol,
                "dom": "Bfrtip",
                "buttons": botoneraExport,

                responsive: true,
            });
        }

        var lenguaje_espanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados ",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }

        var botoneraExport =
            [
                {
                    extend: "copy",
                    className: "copyButton",
                    text: '<i class="fa fa-clone"></i> Copiar'
                },
                {
                    extend: 'excel',
                    text: '<i class="fa fa-file-excel-o"></i> Excel'
                },

                {
                    extend: 'csv',
                    text: '<i class="fa fa-file-excel-o"></i> CSV'
                },
                {
                    extend: 'pdf',
                    text: '<i class="fa fa-file-pdf-o"></i> PDF'
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Imprimir',
                    customize: function (win) {
                        $(win.document.body)
                            .css('font-size', '10pt')
                            .prepend(
                                '<img src="../dist/img/ws.png" style="position:absolute; top:0; left:1;" />'

                            );

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }

            ]
    </script>

</body>
</html>
